/*Body and Container Formatting*/
body {
  padding: 0;
  margin: 0;
  background: papayawhip;
  width: 100vw;
  height: 100vh;
}
* {
  outline: 1px solid red;
}
.container {
  width: 90%;
  height: 90%;
  margin: 1em;
}
/*************************/
/*Body element formatting*/
/*************************/
/*Box "a" formatting*/
.a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Box "b" formatting*/
.bDiv {
  width: 66.666%;
}
.b {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Box for boxes "c" "d" and "e"*/
.cdeDiv {
  width: 66.666%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}